<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="100">
    <mat-card-header>
      <mat-card-title>{{ (painting$ | async).title }}</mat-card-title>
      <mat-card-subtitle>{{ (painting$ | async).genre }} / {{ (painting$ | async).style }}
        / {{ (painting$ | async).date }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img style="max-height: 600px" src="/paintings/{{ (painting$ | async).id }}" alt="Painting">
      <div fxLayout="row">
        <mat-button-toggle-group [(ngModel)]="selectedFeature">
          <mat-button-toggle class="example-radio-button" *ngFor="let feature of features" [value]="feature.value">
            {{ feature.label }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div fxLayoutGap="1em grid" fxLayout="row wrap" fxLayoutAlign="center">
        <app-gallery-item [painting]="painting"
                          fxFlex="calc(50% - 1em)"
                          fxFlex.gt-sm="calc(25% - 1em)"
                          *ngFor="let painting of similar$ | async">
        </app-gallery-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>




